doctype html
html
  head
    title Attacker's Website
    link(href='/stylesheets/base.css', rel='stylesheet')
    link(href='/stylesheets/topnav.css', rel='stylesheet')
    link(href='/stylesheets/sign-in-modules.css', rel='stylesheet')
  body
    h1 Attackers Website
    p This application is hosted by an attacker and used for a plethora of attacks.

    block content
