doctype html
html
  head
    title Order Photo Prints Online
  body
    h1 PhotoPrint
    p This application implements the following OAUth 2 roles: Client. The server is a printing application, such as foto.com.

    block content
