doctype html
html
  head
    title Order Photo Prints Online
    link(href='/stylesheets/base.css', rel='stylesheet')
    link(href='/stylesheets/topnav.css', rel='stylesheet')
    link(href='/stylesheets/sign-in-modules.css', rel='stylesheet')
  body
    h1 PhotoPrint
    p This application implements the following OAuth 2.0 roles: Client (Classic Web Application). The application is a printing service and let's users print pictures hosted at the gallery application.

    block content
